name: Matrix Demo

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16, 18, 20]

    steps:
      - name: Show Node version
        run: echo "Running on Node version: ${{ matrix.node-version }}"
