name: PR Test

on:
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: PR triggered
        run: echo "This workflow ran because of a Pull Request."
