name: Test Secrets

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Print secret
        run: echo "Secret value is: $TEST_SECRET"
        env:
          TEST_SECRET: ${{ secrets.TEST_SECRET }}
