name: Test Secrets

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Print secret
        env: 
          TEST_SECRET: ${{ secrets.TEST_SECRET }}
        run: |
          echo "Secret value is: $TEST_SECRET"
