name: Test Secrets

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    environment: production
    steps:
      - name: Print secret
        env: 
          PROD_SECRET: ${{ secrets.PROD_SECRET }}
        run: |
          echo "Prod secret is: $PROD_SECRET"
